<!doctype html>
<html lang="es">

{{>headerD}}

<style>
    .fa-pen:hover {
        color: #0275d8;
    }

    .fa-trash:hover {
        color: red;
    }

    .boton-insumo {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
</style>

<!--Barra de navegación-->
<div class="wrapper " style="background-color: #E3E3E3;
  background-color: #ebecf1;">
    <div class="sidebar" data-color="black">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
        <div class="logo">
            <a href="dashboard" class="simple-text" style="color:white;">
                Levitisoft
            </a>
        </div>
        {{#if name}}
        <div class="logo">
            <a href="" class="simple-text" style="color:white;">
                <i class="fa-solid fa-circle-user fa-2xl" style="width: 45px;"> </i>{{name}}
            </a>
        </div>
        {{/if}}
        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="dashboard">
                        <i class="fa fa-house" style="color:white;"></i>
                        <p style="color:white;">Home</p>
                    </a>
                </li>
                <li>
                    <a href="roles">
                        <i class="fa fa-gear" style="color:white;"></i>
                        <p style="color: white;">Roles</p>
                    </a>
                </li>
                <li>
                    <a href="usuarios">
                        <i class="fa fa-users" style="color:white;"></i>
                        <p style="color:white;">Usuarios</p>
                    </a>
                </li>
                <li>
                    <a href="compras">
                        <i class="fa fa-shop" style="color:white;"></i>
                        <p style="color:white;">Compras</p>
                    </a>
                </li>
                <li class="active">
                    <a href="insumos" style="background-color: white">
                        <i class="fa fa-box" style="color: black;"></i>
                        <p style="color:black;">Insumos</p>
                    </a>
                </li>
                <li>
                    <a href="produccion">
                        <i class="fa fa-scissors" style="color:white;"></i>
                        <p style="color:white;">Producción</p>
                    </a>
                </li>
                <li>
                    <a href="ProductosDash">
                        <i class="fa fa-boxes-packing" style="color:white;"></i>
                        <p style="color:white;">Productos</p>
                    </a>
                </li>
                <li>
                    <a href="clientes">
                        <i class="fa fa-user" style="color:white;"></i>
                        <p style="color:white;">Clientes</p>
                    </a>
                </li>
                <li>
                    <a href="ventas">
                        <i class="fa fa-truck-fast" style="color:white;"></i>
                        <p style="color:white;">Ventas</p>
                    </a>
                </li>
                <li>
                    <a href="reparaciones">
                        <i class="fa fa-screwdriver-wrench" style="color:white;"></i>
                        <p style="color:white;">Reparaciones</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel" id="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand navbar-absolute" >
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="#" style="margin-left:10px;">Insumos</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <a class="nav-link" href="/logout">
                        <i class="fa fa-right-from-bracket" style="margin-right:20px;"></i>
                        <p>
                            <span class="d-lg-none d-md-block">Salir</span>
                        </p>
                    </a>
                </div>
            </div>
        </nav>
        <!--Barra de navegación-->
        <br><br><br>
        <center>
            <div class="container">


                <div class="row">
                    <div class="col-md-4">
                        <div class="row" style="margin-left: 8px;">
                            <div class="col-md-8 col-9">
                                <input id="buscar-input"
                                    style="height: 100%; border-radius: 0; margin-top: 4px; width: 100%; margin-right: 0;"
                                    class="form-control me-2" type="search" placeholder="Buscar Insumo" aria-label="Search"
                                    oninput="filtrarTabla()">
                            </div>
                            <div class="col-md-2 col-3 pt-2">
                                <button class="btn btn-outline-success" type="submit"
                                    style="height: 100%; border-radius: 0; width: 100%; padding: 0;"
                                    onclick="filtrarTabla()">
                                    <i class="fa-sharp fa-solid fa-magnifying-glass" style="width: 100%;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-3">
                        <a href="AgregarInsumo" class="btn btn-success" style="border-radius: 0;"><i
                                class="fa-solid fa-circle-plus"></i>
                            Agregar Insumo</a>
                    </div>
                </div>

                <br>
                <table class="table" style="text-align:center;" id="tabla-insumos">
                    <thead style="background-color: #282d32; color:white;">
                        <tr>
                            <th>Id</th>
                            <th>Insumo</th>
                            <th>Medida</th>
                            <th>Stock</th>
                            <th>Estado</th>
                            <th>Funciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each insumos}}
                        <tr>
                            <td class="py-3 px-6 text-center">{{idInsumos}}</td>
                            <td class="p-3 text-center">{{nombreInsumo}}</td>
                            <td class="p-3 text-center">{{medida}}</td>
                            <td class="p-3 text-center">{{stockInsumo}}</td>
                            <td class="p-3 text-center">{{estado}}</td>
                            <td>
                                <a href="EditarInsumo/{{idInsumos}}" style="color: #292b2c; " class="boton-insumo">
                                    <i type="button" class="fa-sharp fa-solid fa-pen"></i>
                                </a>
                                <form action="/EliminarInsumo" method="POST" class="boton-insumo"
                                    id="eliminarInsumoForm">
                                    <input type="hidden" value="{{idInsumos}}" name="idInsumos">
                                    <a type="button" onclick="alerta()"><i class="fa fa-trash" style=""></i></a>
                                </form>
                            </td>
                        </tr>

                        {{/each}}

                        <script>
                            function mostrarAlerta(stockCell) {
                                var stock = parseInt(stockCell.textContent);
                                var nombreInsumo = stockCell.parentNode.querySelector('.p-3.text-center:nth-child(2)').textContent;

                                if (stock <= 5) {
                                    Swal.fire({
                                        title: 'Stock de Insumo',
                                        text: 'El stock del insumo "' + nombreInsumo + '" es igual a 5.',
                                        icon: 'warning',
                                        confirmButtonText: 'OK'
                                    });
                                }

                                // Obtener la siguiente celda de stockInsumo
                                var siguienteStockCell = stockCell.parentNode.nextElementSibling.querySelector('.p-3.text-center:nth-child(4)');

                                // Verificar si hay más celdas y llamar a la función nuevamente
                                if (siguienteStockCell) {
                                    mostrarAlerta(siguienteStockCell);
                                }
                            }

                            // Obtener la primera celda de stockInsumo
                            var primeraStockCell = document.querySelector('.p-3.text-center:nth-child(4)');

                            // Verificar si existe y llamar a la función mostrarAlerta
                            if (primeraStockCell) {
                                mostrarAlerta(primeraStockCell);
                            }
                        </script>
                    </tbody>
                </table>
            </div>
            <br><br><br><br><br><br><br>
    </div>
</div>
</center>

<!--Inicio footer-->
<!--Inicio footer-->

<!--Fin footer-->
<!--Fin footer-->
</body>
<script>
    function alerta() {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar insumo!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("eliminarInsumoForm").submit();
            }
        });
    }

    function filtrarTabla() {
        var input = document.getElementById("buscar-input");
        var filtro = input.value.toUpperCase();
        var tabla = document.getElementById("tabla-insumos");
        var filas = tabla.getElementsByTagName("tr");

        for (var i = 0; i < filas.length; i++) {
            var celdaInsumo = filas[i].getElementsByTagName("td")[1];

            if (celdaInsumo) {
                var textoInsumo = celdaInsumo.textContent || celdaInsumo.innerText;
                if (textoInsumo.toUpperCase().indexOf(filtro) > -1) {
                    filas[i].style.display = "";
                } else {
                    filas[i].style.display = "none";
                }
            }
        }
    }
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="assets/js/ValidacionEliminarInsumo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="assets/demo/demo.js"></script>
<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>